@import "variables";


html {
    font-size: 15px;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}     

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: $ff-of;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


//*---------------> Flex Styles

.flex {
    display: flex;

    &-jc-ctr {
        justify-content: center;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-ai-ctr {
        align-items: center;
    }

    &-fd-col {
        flex-direction: column;
    }
}

//*----------> border-radius

.br-15 {
    border-radius: 1.5rem;
}

.br-8 {
    border-radius: 0.8rem;
}

//*----------> width & spacing

.wth-260 {
    width: 260px;
}

.mrgn-15-a {
    margin: 1.1rem auto;
}


